name: Run Addition Script
on: [push]
on:
  push:
    branches:
      - main

jobs:
  run-addition:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Run addprint.py
        run: |
        cd src
        python addprint.py
